# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# Logs
*.log

# Mac system files
.DS_Store

# Optional (your database - decide later)
# data/eph_monitoring.db